<div class="clients">
    <div>
        <span class="status-summary">{{ getClientCount() }}</span>
        <span class="status-summary up">{{ getStatusSummary('up') }}%</span>
        <span class="status-summary down">{{ getStatusSummary('down') }}%</span>
        <button class="btn btn-primary reset" ng-click="resetStatuses()">Reset Statuses</button>
    </div>
    <br />
    <div ng-repeat="question in getQuestions() | orderBy:'key'" class="alert alert-info" ng-click="removeQuestion(question)" title="{{question.clientName}}">
        {{question.question}}
    </div>
    <table class="table table-striped">
        <tr>
            <td>Client Name</td>
            <td>Controllers</td>
            <!--<td>Viewers</td>-->
        </tr>
        <tr ng-repeat="(name, client) in clients" class="client">
            <td>{{client.name}}</td>
            <td class="status {{client.feedback.status}}">{{client.controllers}}</td>
            <!--<td>{{client.viewers}}</td>-->
        </tr>
    </table>
</div>