@import "mixins";

h2 {
    @include clearfix;
    font-size: 24px;
    margin-top: 5px;
}

.content {
    padding: 10px;
}

.right {
    float: right;
    position: relative;
    top: 4px;
}

.ng-cloak {
    display: none !important;
}

.editor {
    box-shadow: 2px 2px 5px #888888;
}

.glyphicon.btn {
    top: 0;
}

.example .header .btn-primary {
    margin-left: 25px;
}

.glyphicon.btn {
    outline: none !important;
}

.glyphicon-thumbs-up.active {
    background: green;
}

.glyphicon-thumbs-down.active {
    background: red;
}

nav.navbar {
    margin-bottom: 5px;
}

.navbar-nav {
    li a {
        cursor: pointer;
    }

    li.input {
        padding: 15px 0 15px 15px;

        input {
            width: 130px;
        }
    }
}

ul.examples {
    list-style: none;
    padding: 0;

    li {
        border: #a8a8a8 solid 1px;
        border-radius: 4px;
        margin: 5px;

        a {
            display: block;
            padding: 15px;
        }
    }
}