.smallOnly, .mediumOnly, .largeOnly {
    display: none;
}

@media (min-width: 851px) {
    .largeOnly {
        display: block;
    }
}

@media (max-width: 850px) and (min-width: 768px) {
    .mediumOnly {
        display: block;
    }
}

@media (max-width: 767px) {
    .smallOnly {
        display: block;
    }
}