<h2>{{section.name}}: {{example.name}}<span class="right"><button class="btn btn-primary" ng-click="sendCode()">Check it!</button></span></h2>
<div ng-show="example_html">
    <h3>HTML</h3>
    <div class="editor" ui-ace="{
  useWrapMode : true,
  mode: 'html',
  onLoad: aceLoaded,
  onChange: aceChanged
}" ng-model="example_html"></div>
</div>

<div ng-show="example_css">
    <h3>CSS</h3>
    <div class="editor" ui-ace="{
  useWrapMode : true,
  mode: 'html',
  onLoad: aceLoaded,
  onChange: aceChanged
}" ng-model="example_css"></div>
</div>
